.btn {
  border-radius: 6px;
  padding: 22px 47px;

  font: var(--middle-font);

  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &--primary {
    background-color: var(--accent-color);
    color: var(--light-color);

    &:hover {
      background-color: var(--accentHover-color);
    }

    &:active {
      background-color: var(--accentActive-color);
    }
  }

  &--secondary {
    width: 100%;
    margin-bottom: 5px;
    padding: 20px 40px;

    background-color: var(--blackText-color);
    color: var(--light-color);

    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:hover {
      background-color: var(--blackTextHover-color);
    }

    &:active {
      background-color: var(--blackTextActive-color);
    }
  }

  &__cataloge {
    width: 100%;
    padding: 17px 40px;

    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;

    &:hover {
      background-color: var(--blackText-color);
      color: var(--light-color);

    }

    &:active {
      background-color: var(--blackTextHover-color);
    }
  }

  &__product {
    margin-top: var(--main-offset);
  }

  &--thirdly {
    padding: 14px 45px;

    border: 1px solid var(--blackText-color);

    color: var(--blackText-color);
    background-color: transparent;


    transition: color 0.2s ease-in-out, background-color 0.3s ease-in-out;

    &:hover {
      color: var(--light-color);
      background-color: var(--blackText-color);
    }
  }

}
