.sizes-table {
  width: 100%;
  border-collapse: collapse;

  caption {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  td {
    border: 1px solid var(--beige-color);
    padding: 16px 5px;

    font: var(--middle-font);
    text-align: center;

    color: var(--blackText-color);
  }
}
