<section class="instagram">
  <h2 class="visually-hidden">Форма и инстаграм-лента</h2>
  <div class="container instagram__container">

    <div class="instagram__left">
      <form class="callback-form form" action="#">

        <h3 class="title instagram__title">Есть вопросы?</h3>
        <p class="instagram__descr">Заполните форму и наш менеджер свяжется с вами</p>

        <input class="input-reset input instagram__input" type="text" name="Имя" placeholder="Ваше имя">
        <input class="input-reset input instagram__input" type="tel" name="tel" placeholder="Ваш номер телефона">
        <button class="btn-reset btn btn--primary instagram__btn">Отправить</button>

      </form>
    </div>

    <div class="instagram__right">
      <a class="instagram__link" href="#">
        <picture>
          <source srcset="img/instagram.avif" type="image/avif">
          <source srcset="img/instagram.webp" type="image/webp">
          <img class="image" loading="lazy" src="img/instagram.png" alt="Intagram logo">
        </picture>
      </a>
      <div class="instagram__content"></div>
    </div>

  </div>
</section>
