<section class="instagram">
  <h2 class="visually-hidden">Форма и инстаграм-лента</h2>
  <div class="container instagram__container">

    <div class="instagram__left">
      <form class="callback-form form" action="#">

        <h3 class="title instagram__title">Есть вопросы?</h3>
        <p class="instagram__descr">Заполните форму и наш менеджер свяжется с вами</p>

        <input class="input-reset input instagram__input" type="text" name="Имя" placeholder="Ваше имя">
        <input class="input-reset input instagram__input" type="tel" name="tel" placeholder="Ваш номер телефона">
        <button class="btn-reset btn btn--primary instagram__btn">Отправить</button>

      </form>
    </div>

    <div class="instagram__right">
      <a class="instagram__link" href="#">
        <picture>
          <source srcset="img/instagram.avif" type="image/avif">
          <source srcset="img/instagram.webp" type="image/webp">
          <img class="instagram__logo" loading="lazy" src="img/instagram.png" alt="Intagram logo">
        </picture>
      </a>
      <div class="instagram__content grid">

        <div class="instagram__item">
          <picture>
            <source srcset="img/inst-photo-1.avif" type="image/avif">
            <source srcset="img/inst-photo-1.webp" type="image/webp">
            <img class="image instagram__img" loading="lazy" src="img/inst-photo-1.jpg" alt="Цветы">
          </picture>
        </div>
        <!--/.inst-photo-1-->

        <div class="instagram__item">
          <picture>
            <source srcset="img/inst-photo-2.avif" type="image/avif">
            <source srcset="img/inst-photo-2.webp" type="image/webp">
            <img class="image instagram__img" loading="lazy" src="img/inst-photo-2.jpg" alt="Салют">
          </picture>
        </div>
        <!--/.inst-photo-2-->

        <div class="instagram__item">
          <picture>
            <source srcset="img/inst-photo-3.avif" type="image/avif">
            <source srcset="img/inst-photo-3.webp" type="image/webp">
            <img class="image instagram__img" loading="lazy" src="img/inst-photo-3.jpg" alt="Собака">
          </picture>
        </div>
        <!--/.inst-photo-3-->

        <div class="instagram__item">
          <picture>
            <source srcset="img/inst-photo-4.avif" type="image/avif">
            <source srcset="img/inst-photo-4.webp" type="image/webp">
            <img class="image instagram__img" loading="lazy" src="img/inst-photo-4.jpg" alt="Мастерская">
          </picture>
        </div>
        <!--/.inst-photo-4-->

        <div class="instagram__item">
          <picture>
            <source srcset="img/inst-photo-5.avif" type="image/avif">
            <source srcset="img/inst-photo-5.webp" type="image/webp">
            <img class="image instagram__img" loading="lazy" src="img/inst-photo-5.jpg" alt="Город">
          </picture>
        </div>
        <!--/.inst-photo-5-->

      </div>
    </div>

  </div>
</section>
