<div class="graph-modal">
  <div class="graph-modal__container modal__container prod-modal" role="dialog" aria-modal="true"
    data-graph-target="prod-modal">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">X</button>
    <div class="graph-modal__content">

      <div class="prod-modal__top">

        <div class="swiper modal-slider">
          <div class="modal-slider__container">

            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <picture>
                  <source srcset="img/product-image.avif" type="image/avif">
                  <source srcset="img/product-image.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image.jpg" class="image" width="" height="" alt="">
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="img/product-image.avif" type="image/avif">
                  <source srcset="img/product-image.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image.jpg" class="image" width="" height="" alt="">
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source srcset="img/product-image.avif" type="image/avif">
                  <source srcset="img/product-image.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image.jpg" class="image" width="" height="" alt="">
                </picture>
              </div>
            </div>

            <div class="modal-preview">

              <div class="modal-preview__item" data-index="0">
                <picture>
                  <source srcset="img/product-image.avif" type="image/avif">
                  <source srcset="img/product-image.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image.jpg" class="image" width="" height="" alt="">
                </picture>
              </div>

              <div class="modal-preview__item" data-index="1">
                <picture>
                  <source srcset="img/product-image.avif" type="image/avif">
                  <source srcset="img/product-image.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image.jpg" class="image" width="" height="" alt="">
                </picture>
              </div>

              <div class="modal-preview__item" data-index="2">
                <picture>
                  <source srcset="img/product-image.avif" type="image/avif">
                  <source srcset="img/product-image.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image.jpg" class="image" width="" height="" alt="">
                </picture>
              </div>

            </div>
          </div>

        </div>
        <!--/.modal-slider-->

        <div class="modal-info">

          <div class="modal-info__top">
            <span class="modal-info__vendor">Артикул: 879876</span>
            <span class="modal-info__quantity">В наличии: <span>13 шт</span> </span>
          </div>


          <h3 class="modal-info__title">Женские кроссовки Puma Force 1 Shadow</h3>
          <div class="modal-info__rate">
            <img class="image" loading="lazy" src="img/star.svg" alt="Рейтинг 5 из 5">
            <img class="image" loading="lazy" src="img/star.svg" alt="">
            <img class="image" loading="lazy" src="img/star.svg" alt="">
            <img class="image" loading="lazy" src="img/star.svg" alt="">
            <img class="image" loading="lazy" src="img/star.svg" alt="">
          </div>

          <div class="modal-info__sizes">
            <div class="modal-info__subtitle">Выберете размер</div>
            <ul class="list-reset modal-info__sizes-list modal-sizes">

              <li class="modal-sizes__item">
                <button class="modal-sizes__btn btn-reset">36</button>
              </li>
              <li class="modal-sizes__item">
                <button class="modal-sizes__btn btn-reset">37</button>
              </li>
              <li class="modal-sizes__item">
                <button class="modal-sizes__btn btn-reset">39</button>
              </li>
              <li class="modal-sizes__item">
                <button class="modal-sizes__btn btn-reset">40</button>
              </li>
              <li class="modal-sizes__item">
                <button class="modal-sizes__btn btn-reset">41</button>
              </li>

            </ul>
          </div>

          <div class="modal-info__price">
            <span class="modal-info__current-price">19 789 р</span>
            <span class="modal-info__old-price">20 578 р</span>
          </div>
          <button class="btn btn-reset btn--primary modal-info__order">Заказать</button>

          <ul class="modal-info__note modal-note list-reset">
            <li class="modal-note__item">Бесплатная доставка до двери</li>
            <li class="modal-note__item">Оплата заказа при получении</li>
            <li class="modal-note__item">Обмен в течении двух недель</li>
          </ul>

        </div>
        <!--/.modal-info-->

      </div>
      <!--/.modal-top-->

      <div class="prod-modal__bottom prod-bottom">
        <div class="prod-bottom__column">
          <h3 class="prod-bottom__title">Описание</h3>
          <p class="prod-bottom__descr">
            Кроссовки Nike Blazer Mid '77 Vintage Suede с винтажной подошвой возрождают стиль баскетбольных моделей Nike
            прошлого, создавая впечатление, что они хранились в шкафу долгие годы.
          </p>
        </div>

        <div class="prod-bottom__column">
          <h3 class="prod-bottom__title">Характеристики</h3>
          <div class="prod-chars">
            <p class="prod-bottom__descr prod-chars__item">Пол: Мужской </p>
            <p class="prod-bottom__descr prod-chars__item">Цвета: Разноцветный </p>
            <p class="prod-bottom__descr prod-chars__item">Состав: Кожа, текстиль, резина </p>
            <p class="prod-bottom__descr prod-chars__item">Страна: Вьетнам </p>
          </div>
        </div>
      </div>
      <!--/.modal-bottom-->

      <iframe class="prod-modal__video" src="https://www.youtube.com/embed/frKNeyjlkOk"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>


    </div>
    <!--/.modal-content-->
  </div>
</div>
