<section class="team">
  <img class="image team__figure" loading="lazy" src="../img/team-figure.svg" alt="" aria-hidden="true">
  <div class="container">
    <h2 class="title team__title">Наша команда</h2>
    <ul class="grid team__list list-reset">

      <li class="team__item">
        <picture>
          <source srcset="img/team-1.avif" type="image/avif">
          <source srcset="img/team-1.webp" type="image/webp">
          <img class="image team__img" loading="lazy" src="img/team-1.jpg" width="380" height="400"
            alt="Максим Золатарев">
        </picture>
        <strong class="team__subtitle">Максим Золатарев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <!--/.item-1-->

      <li class="team__item">
        <picture>
          <source srcset="img/team-2.avif" type="image/avif">
          <source srcset="img/team-2.webp" type="image/webp">
          <img class="image team__img" loading="lazy" src="img/team-2.jpg" width="380" height="400"
            alt="Максим Золатарев">
        </picture>
        <strong class="team__subtitle">Максим Золатарев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <!--/.item-2-->

      <li class="team__item">
        <picture>
          <source srcset="img/team-3.avif" type="image/avif">
          <source srcset="img/team-3.webp" type="image/webp">
          <img class="image team__img" loading="lazy" src="img/team-3.jpg" width="380" height="400"
            alt="Максим Золатарев">
        </picture>
        <strong class="team__subtitle">Максим Золатарев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <!--/.item-3-->

      <li class="team__item">
        <picture>
          <source srcset="img/team-4.avif" type="image/avif">
          <source srcset="img/team-4.webp" type="image/webp">
          <img class="image team__img" loading="lazy" src="img/team-4.jpg" width="380" height="400"
            alt="Максим Золатарев">
        </picture>
        <strong class="team__subtitle">Максим Золатарев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <!--/.item-4-->

      <li class="team__item">
        <picture>
          <source srcset="img/team-5.avif" type="image/avif">
          <source srcset="img/team-5.webp" type="image/webp">
          <img class="image team__img" loading="lazy" src="img/team-5.jpg" width="380" height="400"
            alt="Максим Золатарев">
        </picture>
        <strong class="team__subtitle">Максим Золатарев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <!--/.item-5-->

      <li class="team__item">
        <picture>
          <source srcset="img/team-6.avif" type="image/avif">
          <source srcset="img/team-6.webp" type="image/webp">
          <img class="image team__img" loading="lazy" src="img/team-6.jpg" width="380" height="400"
            alt="Максим Золатарев">
        </picture>
        <strong class="team__subtitle">Максим Золатарев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <!--/.item-6-->

    </ul>
  </div>
</section>
