// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Intro", sans-serif;
  --content-width: 1180px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --purple-color: #484283;
  --accent-color: #F14F4F;
  --accentHover-color: #CC4949;
  --accentActive-color: #8C2828;
  --blackText-color: #444B58;
  --blackTextHover-color: #31343C;
  --blackTextActive-color: #202125;
  --beige-color: #DBBBA9;
  --beigeLight-color: #FFF4EE;
  --gray-color: #B2B5BB;
  --jumbo-color: #808080;
  --border-color: rgba(255, 255, 255, 0.5);;


  // Stumbles
  --grid-gap: 20px;
  --small-offset: 10px;
  --second-offset: 20px;
  --main-offset: 40px;
  --section-offset: 60px;


  // Fonts
  --middleHigh-font: 700 30px / 140% var(--font-family);
  --middlePrehigh-font: 400 24px / 24px var(--font-family);
  --middleNormal-font: 600 20px / 140% var(--font-family);
  --middle-font: 600 16px / 140% var(--font-family);
  --smallHigh-font: 400 16px / 140% var(--font-family);
  --small-font: 400 14px / 140% var(--font-family);

}
